.top-nav {
  background-color: #49484b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  li {
    list-style: none;
    padding: 1.5rem 2rem;
  }
  a {
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
  .logo {
    background-color: #333;
  }
  .top-nav-right {
    display: flex;
    @media only screen and (max-width: 500px) {
      flex-direction: column;
      width: 100%;
    }
  }
  .top-nav-left {
    display: flex;
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
