.pictures {
  margin-top: 3rem;
  .pics {
    display: flex;
    justify-content: center;
    @media only screen and (max-width: 500px){
        flex-direction: column;
    }
    a {
        transition: all .2s;
        &:hover {
            transform: scale(1.075);
        }
    }
    img {
      width: 100%;
    }
  }
}
