.products {
  display: flex;
  min-height: 40rem;
  justify-content: space-between;
  margin-bottom: 4rem;
  .sidebar {
    flex-basis: 20%;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    & > div {
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 1rem;
      display: flex;
      flex-direction: column;
      border-radius: 3px;
      h3 {
        font-size: 1.8rem;
        font-weight: 400;
        color: #333;
      }
      hr {
        margin: 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
    .price-limit {
      #price-limit-toggle {
        display: none;
        &:checked ~ .price-limit-content {
          max-height: 30rem;
        }
        &:checked ~ .price-limit-head {
          i {
            transform: rotate(-180deg);
          }
        }
      }
      .price-limit-head {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        i {
          color: #444;
          transition: all 0.5s;
        }
      }

      .price-limit-content {
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease;
        .range {
          padding: 1.5rem 2rem;
          display: flex;
          flex-direction: column;
          .range-details {
            display: flex;
            margin: 2rem 0;

            .from,
            .to {
              display: flex;
              flex-direction: column;
              flex-basis: 50%;
              align-items: center;
              span {
                font-size: 1.4rem;
                font-weight: 300;
              }
            }
          }
          .range-submit {
            border: none;
            font-family: inherit;
            border-radius: 3px;
            color: white;
            background-color: #48dbfb;
            padding: 0.5rem;
            cursor: pointer;
            &:hover {
              background-color: #0abde3;
            }
          }
        }
      }
    }
    .brands,
    .colors {
      #brands-toggle {
        display: none;
        &:checked ~ .brands-content {
          max-height: 100rem;
        }
        &:checked ~ .brands-head {
          i {
            transform: rotate(-180deg);
          }
        }
      }
      #colors-toggle {
        display: none;
        &:checked ~ .colors-content {
          max-height: 100rem;
        }
        &:checked ~ .colors-head {
          i {
            transform: rotate(-180deg);
          }
        }
      }
      .brands-head,
      .colors-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        cursor: pointer;
        i {
          color: #444;
          transition: all 0.5s;
        }
      }
      .brands-content,
      .colors-content {
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s ease;
        .brands-list,
        .colors-list {
          display: flex;
          flex-direction: column;
          padding: 1rem;
          li {
            margin: 0.5rem 0;
            padding-right: 0.5rem;
            display: flex;
            align-items: center;
            .checkbox-title {
              user-select: none;
              color: #333;
              cursor: pointer;
              &:hover {
                color: #666;
              }
            }
            .checkbox-container {
              position: relative;
              margin-left: 1rem;
              cursor: pointer;
              width: 2rem;
              height: 2rem;
              &:hover input ~ span {
                background-color: #ccc;
              }
              input {
                display: none;
                &:checked ~ span {
                  background-color: #2196f3;
                }
                &:checked ~ span:after {
                  display: block;
                }
              }
              span {
                position: absolute;
                top: 0;
                right: 0;
                height: 2rem;
                width: 2rem;
                background-color: #eee;
                &:after {
                  content: "";
                  position: absolute;
                  display: none;
                  left: 7px;
                  top: 2px;
                  width: 4px;
                  height: 10px;
                  border: solid white;
                  border-width: 0 3px 3px 0;
                  transform: rotate(45deg);
                }
              }
            }
          }
        }
      }
    }
    .availablity {
      #availablity-toggle {
        display: none;
        &:checked ~ .availablity-content {
          max-height: 30rem;
          padding-bottom: 0.5rem;
        }
        &:checked ~ .availablity-head {
          i {
            transform: rotate(-180deg);
          }
        }
      }
      .availablity-head {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        i {
          color: #444;
          transition: all 0.5s;
        }
      }
      .availablity-content {
        overflow: hidden;
        max-height: 0;
        text-align: center;
        transition: all 0.5s ease;
      }
    }
  }
  .product-list {
    flex-basis: 80%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    .filters {
      display: flex;
      padding: 1rem;
      background-color: #e3e3e3;
      font-size: 1.4rem;
      box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.73);
      span {
        padding: 1rem;
      }
      .filter-ul {
        display: flex;
        margin-right: 1rem;
        li {
          list-style: none;
          display: flex;
          margin: 0 1rem;
          border-radius: 8px;
          background-color: #e1ccec;
          &:hover {
            background-color: #c9b6e4;
          }
          a {
            padding: 1rem;
            color: #698474;
          }
        }
      }
    }
  }
}
