$myRed: #e5294c;

.container {
  background: linear-gradient(135deg, #1abc9c 20%, #2980b9 80%);
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    .register-header {
      color: white;
      margin-bottom: 2rem;
      h1 {
        font-weight: 500;
        letter-spacing: -1px;
        font-size: 5rem;
        margin-bottom: 1.5rem;
        margin-top: 0;
      }
      p {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.8;
      }
    }
    .register-box {
      padding: 2rem;
      background-color: white;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      width: 100%;
      .user-info {
        color: #555;
        margin-bottom: 1rem;
      }
      .form-item {
        margin: 0.5rem 0;
        display: flex;
        flex-direction: column;
        .form-control {
          padding: 1rem 1.5rem;
          font-family: inherit;
          font-size: 1.2rem;
          width: 100%;
          border-radius: 3px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          transition: all 0.2s;
          &:hover {
            border: 1px solid rgba(0, 0, 0, 0.4);
          }
          &:focus {
            outline: none;
            border: 1px solid rgba(0, 0, 0, 0.4);
          }
        }
        .error {
          padding-right: 0.5rem;
          color: $myRed;
          font-size: 1.2rem;
        }
        label.rules {
          display: flex;
          align-items: center;
          font-size: 1.4rem;
          margin: 1.5rem 0;
          .rule-checkbox {
            margin-left: 0.5rem;
          }
          span {
            color: #555;
          }
        }
        button {
          border: none;
          color: white;
          border-radius: 3px;
          padding: 1rem;
          font-family: inherit;
          cursor: pointer;
          background-color: #3498db;
          transition: all 0.3s;
          &:hover {
            background-color: #2980b9;
          }
          &:focus {
            outline: none;
          }
        }
        .login-link {
          font-size: 1.3rem;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
